<!DOCTYPE html>
<html>
<head>
  <title>忘记密码</title>
   <meta charset="utf-8"/>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut  icon" type="../../image/x-icon" href="/images/etsIco.ico" media="screen" />
  <link rel="stylesheet" href="/css/layui.css"  media="all">
  <link rel="stylesheet" type="text/css" href="/css/verify.css">
  <link rel="stylesheet" type="text/css" href="/pagecss/forgetPassword/forgetPassword.css">
</head>
<body class="bgf2">
<div class="logo">
	<span><img src="/images/logo/logo.png"/></span>
	<span class="logo_txt">小汇智慧后勤</span>
</div>
<div class="register-content">
    <div class="forgetPasswordContent">
        <h3>找回密码</h3>
        <div class="reg-detail">
        <form class="layui-form" action="loginin" method="post" lay-filter="example" id="layui-form">
         <div class="layui-form-item">
             <label class="layui-form-label">注册人手机号</label>
            <div class="layui-input-block">
              <input type="text" name="mobile" id="phone" lay-verify="required|mobile" onkeyup="check_zh(this)" placeholder="请输入注册人手机号" maxlength="11" autocomplete="off" class="layui-input">
            </div>
          </div>
           <div class="layui-form-item">
            <label class="layui-form-label">滑动验证</label>
            <div id="mpanel1"></div>
          </div>
         <div class="layui-form-item">
             <label class="layui-form-label">短信验证码</label>
            <div class="layui-input-block">
              <input type="text" name="mobileYz" lay-verify="required|mobileYz" id="rpcode" placeholder="请输入验证码" maxlength="8" autocomplete="off" class="layui-input">
              <input type="button" class="layui-btn layui-btn-normal yzmBtn" id="getCode" onclick="sendMessages()" value="获取验证码" />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">设置密码</label>
            <div class="layui-input-block">
              <input type="password" name="password"  id="pwd" lay-verify="required|pass"  placeholder="请设置6到12位密码" maxlength="16" autocomplete="off" class="layui-input">
            </div>
          </div>
           <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
              <input type="password" name="confirmpassword"  id="pwd1" lay-verify="required|cpass" onkeyup="validate()" placeholder="请确认密码" maxlength="16" autocomplete="off" class="layui-input">
            </div>
            <div id="tishi"></div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button type="button" class="layui-btn" lay-submit="" lay-filter="registerBtn" style="width:275px; background-color: #42b3ff;" id="registerBtn">提交</button>
            </div>
          </div>
        </form>
    </div>
    </div>
</div>
   <div class="bottom" style="text-align: center;margin: 40px 0;">
  <span style="color: #333333;font-size: 14px;">技术支持：<a href="http://www.etslink.cn/" target="_blank">安徽易龙网络服务有限公司</a></span>
</div>
<script src="/layui.all.js" charset="utf-8"></script>
<script src="/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/verify.js" ></script>
<script type="text/javascript" src="/js/common.js" ></script>
<script type="text/javascript" src="/js/pagejs/forgetPassword/forgetPassword.js" ></script>
</body>
</html>